body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 5%;
}
#ok{
    width: 100%;
}
p{
    color: blue;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    color: white;
    background-image: linear-gradient(45deg,  lightsalmon, tomato);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
p{
    font-size: 80px;
}